<!DOCTYPE html>
<html>
    <head>
        <title>FIBONACZI LICZYCIEL</title>
    </head>
    <body>
        <div id="main" class="container">
            <h1>FIBONACZI LICZYCIEL</h1>
            <form action="/result" method="POST">
                <input name="index" type="number" min="1">
                <button type="submit" class="btn btn-outline-dark">POLICZ FIBONACZJEGO!</button>
            </form>
        </div>
        {% if display %}
            <a href="../">Schowaj wyniki</a>
            Fibonaczi dla {{user_input}} wynosi {{fib_num}} <br>
            Wszystkie wyliczone wartości <br>
            {%for i in dictus.keys()%}
                {{i}}: {{dictus[i]}}<br>
            {%endfor%}
        {% endif %}
        <a href=../info>Informacje o autorze</a></h3>
    </body>
</html>